mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
  
mat-sidenav {
    width: 15.5rem;
}

main{
    background-color: whitesmoke;
    padding: 5rem;
}

.router-outlet-container {
    border: 2px solid black;
    padding: 1em;
    margin: auto;
    height: 30em;
    max-width: 50em;
}