<section class="printer-dialog">


    <h2 mat-dialog-title>
        {{ isDetailMode ? 'Printer Details' : isEditMode ? 'Edit Printer' : 'Add Printer' }}
    </h2>
    
    <br>

    <mat-dialog-content>
        <app-printer-detail *ngIf="isDetailMode"
            [printerData]="printerDialogData">
        </app-printer-detail>
        <app-printer-edit *ngIf="!isDetailMode"
            [printerData]="printerDialogData">
        </app-printer-edit>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button
            mat-icon-button
            color="warn"
            (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-dialog-actions>
    
</section>